<!DOCTYPE html>
<html lang="pt-BR" data-theme="light" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Mottu</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/heroicons@2.0.18/dist/heroicons.min.js"></script>
    <style>
        :root {
            --color-primary: #00B131;
            --color-black: #000000;
            --color-white: #ffffff;
        }
    </style>
</head>
